<div class="card" style="padding:15px;">
  <h5 class="text-uppercase"><%= article.id %>. <%= article.title %></h5>
  <p class="small text-secondary"> 
    created: <%= article.created_at %>
  </p>
  <%=link_to "Ver", article %>
</div>