<div class="large-container center-block">
<h3>Articles</h3>
<!--
<% @articles.each do |article| %> sin el = para que no se imprima la coleccion raw
  aca mostrar el articulo
<% end %> -->
<%= render @articles %>
</div>